@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500&display=swap');

*,
*::after,
*::before {
 box-sizing: border-box;
}

html,
body {
 margin: 0;
 padding: 0;
 background: black;
 font-family: 'Karla', sans-serif;
}
